// Place all the styles related to the Headlines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.panel.panel-default {
	border: 5px solid #ecf0f1;
	box-shadow: none;
}

div.panel-body {
		padding-bottom:0px;
}

div.col-md-4 div.panel.panel-default {
	border: none;
	box-shadow: none;
}


.row hr {
	height:5px; 
	border:none; 
	color:#e74c3c; 
	background-color:#e74c3c;}

div.panel-body h3 {
	margin-top: 0px;
}